{% extends 'base.html' %}

{% block content %}
<div id="slider" style="overflow-x: auto; white-space: nowrap;">
    {% for form_message in form_messages %}
    <div style="display: inline-block;">
        <input type="hidden" id="form-message-{{ forloop.counter }}" value="{{ form_message.form }}">
        <p onclick="showModal('form-message-{{ forloop.counter }}')">Click to view form message</p>
    </div>
    {% endfor %}
</div>

<hr/>

<div id="chat-log" style="max-height: 500px; overflow-y: scroll;">
    {% for message in messages %}
    <p>{{ message.sender.username }}: {{ message.text }}</p>
    {% empty %}
    <p>No messages yet...</p>
    {% endfor %}
</div>

<input id="open-modal" type="button" value="FORM">
<input id="chat-message-input" type="text">
<input id="chat-message-submit" type="button" value="Send">


<dialog id="form-modal">
    <div>

    </div>
    <button id="close-modal">Close</button>
</dialog>
{% endblock %}

{% block javascript %}
<script>
    // Модальное окно форм
    formModal = document.querySelector('#form-modal');
    closeBtn = document.querySelector('#close-modal');
    openBtn = document.querySelector('#open-modal');

    openBtn.addEventListener('click', function() {
        formModal.showModal();
    });
    closeBtn.addEventListener('click', function() {
        formModal.close();
    });
</script>
<script>
    // Вебсокеты
    const chatLog = document.querySelector('#chat-log');
    chatLog.scrollTop = chatLog.scrollHeight

    var roomName = `{{ room_id }}`;
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        console.log(data)
        document.querySelector('#chat-log').innerHTML += (`<p>${ data['sender'] }: ${message}</p>`);

        const chatLog = document.querySelector('#chat-log');

        if (chatLog.scrollHeight - chatLog.scrollTop - chatLog.clientHeight < 100) {
            // Auto scroll to the bottom
            chatLog.scrollTop = chatLog.scrollHeight;
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>

<script>
    function showModal(inputId) {
        var formMessage = document.getElementById(inputId).value;
        alert(formMessage);
    }
</script>
{% endblock %}