{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="row">
        {% for chat in chats %}
            <div class="col mb-2">
                <a href="{% url 'chat' chat.id %}" class="text-decoration-none text-dark">
                <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">
                                Чат по контракту с
                                
                                <a class="fw-bold" href="{% url 'chat' chat.id %}">
                                    {% if request.user.role == 'performer' %}
                                    {{ chat.customer.username }}
                                    {% else %}
                                    {{ chat.performer.username }}
                                    {% endif %}
                                </a>
                            
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-text">
                        Чатов пока нет.
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}