{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-render.min.js"></script>
{% endblock head %}

{% block content %}
    <h3>Создал: {{proposal.user.username}}</h3>
    <h3>Заголовок заявки: {{proposal.description}}</h3>
    <h3>Описание заявки: {{proposal.description}}</h3>
    <h3>Форма заявки:</h3>
    <form id="form-render"></form>
    <button name="submitBtn">Отправить заявку</button>
{% endblock %}

{% block javascript %}
<script>
    jQuery(function ($) {
        const fbRender = document.getElementById('form-render');
        const formData = `{{ proposal.main_form }}`.replace(/&quot;/g, '"').replace(/\n/g, '\\n');
        console.log(formData)
        const formRenderOpts = {
            formData,
            dataType: 'json'
        };
        $(fbRender).formRender(formRenderOpts)


        const submitBtn = document.getElementsByName('submitBtn')[0];
        submitBtn.addEventListener('click', () => {
            const form = document.getElementById('form-render');
            const formData = $(form).formRender('userData');
            console.log(JSON.stringify(formData));
            fetch(`/market/detail/submit/{{detail_id}}/`, {
                method: 'POST',
                body: JSON.stringify(formData),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        window.location.href = `/messenger/chat/${data.chat_id}/`;
                    } else {
                        console.log(data);
                    }
                });
        })
    });
</script>
{% endblock %}