{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if field == form.role %}
                    {% bootstrap_label "Выберете роль:" %}
                {% endif %}
                {% bootstrap_field field show_label=False %}
            {% endfor %}
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}