    <div id="pdf-format" style="isolation: isolate;">
	<div>
		<p style="text-align:center;">
			<b>Договор №{{contract.id}}</b>
		</p>

		<p style="text-align:center;">
			<b>На поставку
				расходного материала (Сетка-слинг)</b>
		</p>


		<p>
			{{ contract.conclusion_place }}
		</p>


		<p style="text-align:justify;">
			<b></b>{{ contract.signer }}, действующий на основании
			Устава, именуемый в дальнейшем «Поставщик» и
			<b>
			</b><b></b>{{ perfomer.username }}, действующий на
			основании Устава, именуемый в дальнейшем «{{contract.procurement_method}}», в соответствии с
			требованиями {{contract.conclusion_basis}} Федерального закона от 05 апреля 2013 года №
			{{contract.law}} «О контрактной системе в сфере закупок товаров, работ, услуг для
			обеспечения государственных и муниципальных нужд», заключили настоящий Договор
			о нижеследующем:
		</p>


		<p style="text-align:center;"><b>1.<strong>
				</strong>
			</b><b>ПРЕДМЕТ ДОГОВОРА</b>
		</p>


		<p style="text-align:justify;">1.1.
			{{contract.contract_subject}}.</p>

		<p style="text-align:justify;">1.2.
			ИКЗ: {{contract.procurement_id}}</p>

		<p style="text-align:justify;">1.3.
			Источник финансирования: {{contract.financing_source}}.</p>


		<p style="text-align:center;">
			<b>2. ЦЕНА И ПОРЯДОК РАСЧЕТОВ</b>
		</p>


		<p style="text-align:justify;">2.1.
			Цена настоящего договора
			<b>{{contract.amount}}
			</b>без налога (НДС).
		</p>

		<p style="text-align:justify;">2.2.
			Цена Договора является твердой и определяется на весь срок исполнения Договора,
			за исключением случаев, установленных в Законе
			о контрактной системе
		</p>

		<p style="text-align:justify;">2.3.
			Цена договора включает в себя стоимость Товара, расходы на выполнение
			Спецификации (Приложение №1) в полном объеме, перевозку.</p>

		<p style="text-align:justify;">2.4 Оплата за поставленный товар
			осуществляется заказчиком безналичным перечислением денежных средств в течение
			<b>10 (десяти) рабочих дней</b>
			после
			проведения Заказчиком приемки товара и предоставления Поставщиком надлежащим
			образом оформленных платежных документов: счета, счет-фактуры и товарной
			накладной.
		</p>

		<p style="text-align:justify;">2.5.
			Аванс {{contract.advance}}.</p>

		<p style="text-align:justify;">2.6.
			Сумма по Договору, подлежащая уплате Поставщику, уменьшается на размер налогов,
			сборов и иных обязательных платежей в бюджеты бюджетной системы Российской
			Федерации, связанных с оплатой Договора, если в соответствии с
			законодательством Российской Федерации о налогах и сборах такие налоги, сборы и
			иные обязательные платежи подлежат уплате в бюджеты бюджетной системы
			Российской Федерации Заказчиком.</p>

		<p style="text-align:justify;">2.7. Цена Договора может быть изменена, если по предложению
			Заказчика увеличивается или уменьшается предусмотренное Договором количество
			Товара не более чем на десять процентов.</p>

		<p style="text-align:justify;">При этом по соглашению Сторон допускается изменение с учетом
			положений бюджетного законодательства Российской Федерации цены Договора
			пропорционально дополнительному количеству Товара исходя из установленной в
			Договоре цены единицы Товара, но не более чем на десять процентов цены
			Договора. При уменьшении предусмотренного Договором количества Товара Стороны
			Договора обязаны уменьшить цену Договора исходя из цены единицы Товара.</p>

		<p style="text-align:justify;">Цена единицы дополнительно поставляемого Товара или цена единицы
			Товара при уменьшении предусмотренного Договором количества поставляемого
			Товара должна определяться как частное от деления первоначальной цены Договора
			на предусмотренное в Договоре количество Товара.</p>


		<p style="text-align:center;">
			<b>3.
				СРОКИ ДЕЙСТВИЯ ДОГОВОРА</b>
		</p>


		<p style="text-align:justify;">3.1.
			Договор вступает в силу с {{contract.validity_period_start}}. Срок действия
			договора c момента заключения Договора
			<b>до
				«{{contract.validity_period_end}} года</b>, в части расчетов до полного исполнения своих
			обязательств.
		</p>


		<p style="text-align:center;">
			<b>4.
				СРОКИ И ПОРЯДОК ПОСТАВКИ ТОВАРА</b>
		</p>


		<p style="text-align:justify;">4.1.
			Поставка Товара осуществляется со склада Поставщика транспортом Поставщика.
		</p>

		<p style="text-align:justify;">4.2.
			Поставщик осуществляет передачу
			<b>в
				течение 10 (десяти) рабочих дней</b>
			со дня заключения контракта. Поставщик за
			2 (два) дня до момента поставки товара информирует Заказчика о предстоящей
			поставке.
		</p>

		<p style="text-align:justify;">4.3. Проверка качества Товара
			производится Заказчиком при его получении от Поставщика.</p>

		<p style="text-align:justify;">4.4. Доставка Товара осуществляется
			силами Поставщика на склад Заказчика по адресу: {{contract.conclusion_place}}.</p>


		<p style="text-align:center;">
			<b>5.<strong>
				</strong>
			</b><b>УПАКОВКА, МАРКИРОВКА И ПЕРЕДАЧА ТОВАРА</b>
		</p>


		<p style="text-align:justify;">5.1.
			Товар поставляется в стандартной
			упаковке, отвечающей международным требованиям и обеспечивающей полную
			сохранность груза при условии надлежащего обращения с ним при транспортировке.</p>

		<p style="text-align:justify;">5.2.
			Товар должен быть
			надлежащего качества,
			соответствовать стандартам, техническим
			условиям и иным требованиям к его качеству. С поставляемым Товаром Поставщик
			обязан предоставить сертификат соответствия, регистрационное удостоверение.</p>

		<p style="text-align:justify;">5.3.
			В процессе приема-передачи Товара
			проверяется его комплектность и маркировка изделий.</p>


		<p style="text-align:center;">
			<b>6.<strong>
				</strong>
			</b><b>ПРАВО СОБСТВЕННОСТИ</b>
		</p>


		<p style="text-align:justify;">6.1.
			Право собственности на
			Товар переходит от Поставщика к Заказчику после приемки товара Заказчиком.</p>


		<p style="text-align:center;">
			<b>7.
				ФОРС-МАЖОР</b>
		</p>

		<p style="text-align:justify;">7.1. Сторона освобождается от
			ответственности
			за частичное или полное неисполнение обязательств по настоящему Договору, если
			это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших
			после заключения настоящего Договора в результате событий, которые сторона не
			могла предвидеть и предотвратить разумными мерами.</p>


		<p style="text-align:center;">
			<b>8.
				ОТВЕТСТВЕННОСТЬ СТОРОН</b>
		</p>


		<p style="text-align:justify;">8.1. Стороны несут ответственность
			за неисполнение либо ненадлежащее исполнение своих обязательств по настоящему
			договору.</p>

		<p style="text-align:justify;">8.2. Стороны обязаны незамедлительно
			информировать друг друга об изменении указанных в договоре реквизитов, включая
			изменения фактических, почтовых и юридических адресов, а также уполномоченных
			представителей, предстоящих реорганизациях, ликвидациях и иных действиях, в
			результате которых может быть прекращена деятельность сторон или затруднено
			исполнение предусмотренных договором обязательств.</p>

		<p style="text-align:justify;">8.3. Ни одна из сторон не имеет
			права в рамках настоящего Договора передавать свои права и обязательства
			третьей стороне без письменного подтверждения другой стороны.</p>

		<p style="text-align:justify;">8.4. Пеня начисляется за каждый день
			просрочки исполнения обязательства Поставщиком, предусмотренного договором, в
			размере одной трехсотой действующей на дату уплаты пени ставки рефинансирования
			Центрального банка Российской Федерации от цены договора, уменьшенной на сумму,
			пропорциональную объему обязательств, предусмотренных договором и фактически
			исполненных Поставщиком.</p>

		<p style="text-align:justify;">8.5. За каждый факт неисполнения или
			ненадлежащего исполнения Поставщиком обязательств, предусмотренных договором,
			за исключением просрочки исполнения обязательств (в том числе гарантийного
			обязательства), предусмотренных договором, размер штрафа устанавливается в виде
			фиксированной суммы, определяемой в следующем порядке:</p>

		<p style="text-align:justify;">а 10 процентов цены договора в случае,
			если цена договора не превышает 3 млн. рублей;</p>

		<p style="text-align:justify;">8.6. Поставщик несет
			ответственность за качественное оказание Услуг в полном объеме и сроки
			установленные законодательством РФ.</p>

		<p style="text-align:justify;">8.7. Пеня начисляется
			за каждый день просрочки исполнения ЗАКАЗЧИКОМ обязательства, предусмотренного
			Договором, начиная со дня, следующего после дня истечения установленного
			Договором срока исполнения обязательства. Такая пеня устанавливается Договором
			в размере одной трехсотой действующей на дату уплаты пеней ключевой ставки
			Центрального банка Российской Федерации от не уплаченной в срок суммы.</p>

		<p style="text-align:justify;">8.8.
			За каждый факт неисполнения Заказчиком обязательств, предусмотренных Договором,
			за исключением просрочки исполнения обязательств, предусмотренных Договором,
			размер штрафа устанавливается в виде фиксированной суммы - 1000 рублей.</p>

		<p style="text-align:justify;">8.9.
			Заключая настоящий Договор, Поставщик декларирует, что он соответствует
			требованиям к участникам закупки, установленным ч.1 ст. 31 Федерального закона
			от 05.04.2013г. № {{contract.law}} «О контрактной системе в сфере закупок товаров, работ,
			услуг для обеспечения государственных и муниципальных нужд».</p>


		<p style="text-align:center;">
			<b>9. ГАРАНТИЙНЫЕ ОБЯЗАТЕЛЬСТВА</b>
		</p>


		<p style="text-align:justify;">9.1. Поставщик гарантирует качество
			и надежность поставленного товара в течение срока годности (прописанного в
			паспорте или инструкции по эксплуатации) с момента передачи товара Заказчику.</p>


		<p style="text-align:center;">
			<b>10.
				РАЗРЕШЕНИЕ СПОРОВ</b>
		</p>


		<p style="text-align:justify;">10.1.
			Все споры и разногласия, возникающие из настоящего Договора или в связи с ним,
			будут по возможности решаться путем переговоров.</p>

		<p style="text-align:justify;">10.2. В случае недостижения взаимного согласия споры по настоящему
			Контракту разрешаются в Арбитражном суде Пермского края.</p>

		<p style="text-align:justify;">До передачи спора на разрешение Арбитражного суда Пермского края
			Стороны примут меры к его урегулированию в претензионном порядке. Претензия
			должна быть направлена в письменном виде. По полученной претензии Сторона
			должна дать письменный ответ, по существу, в срок не позднее 14 (четырнадцати)
			дней с даты ее получения.</p>

		<p style="text-align:justify;">10.3.
			Расторжение Договора допускается по соглашению Сторон, по решению суда, в
			случае одностороннего отказа Стороны Договора от исполнения Договора в
			соответствии с гражданским законодательством.</p>


		<p style="text-align:justify;">Приложение
			№1 - Техническое задание;</p>

		<p style="text-align:justify;">Приложение
			№2 - Спецификация
		</p>

		<p style="text-align:justify;">Приложение
			№3 - Порядок приемки Товара;
		</p>

		<p style="text-align:justify;">Приложение №4 - Форма документа о приемке Товара;</p>


		<p style="text-align:center;">
			<b>11</b>.
			<b>Юридические адреса и реквизиты сторон</b>
		</p>


		<table>
			<tbody>
				<tr>
					<td style="border: solid;">
						ПОСТАВЩИК
						{{contract.customer_details}}
						{{contract.contact_details_phone}}
						{{contract.contact_details_email}}
					</td>
					<td style="border: solid;">
						ЗАКАЗЧИК
						{{contract.customer_details}}
						{{contract.bank_details}}
						{{contract.general_info}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<b></b>

	<p>
		<b>Часть
			2. Общие условия поставки.</b>
	</p>

	<p style="text-align:justify;">
		<b>1.<strong>
			</strong>
		</b><b>Условия
			поставки:
		</b>
	</p>

	<p style="text-align:justify;">1.1.
		Товар поставляется согласно техническому
		заданию в течение 10 рабочих дней со дня заключения контракта. Поставщик за 2
		(два) дня до момента поставки товара информирует Заказчика о предстоящей
		поставке.</p>

	<p style="text-align:justify;">1.2.
		Поставка осуществляется по адресу: {{contract.conclusion_place}}.</p>


	<p style="text-align:justify;">
		<b>2.<strong>
			</strong>
		</b><b>Требования
			к качеству продукции:</b>
	</p>

	<p style="text-align:justify;">2.1.
		Товар должен быть сертифицирован или
		декларирован, иметь свидетельство о государственной регистрации (при наличии),
		регистрационное удостоверение.</p>

	<p style="text-align:justify;">2.2.
		Товар должен полностью соответствовать
		стандартам качества, сертификату соответствия, техническому паспорту
		завода-изготовителя или технической спецификации завода изготовителя.</p>

	<p style="text-align:justify;">2.3.
		Товар должен быть произведен при
		соблюдении требований нормативных документов (стандарты, технические условия,
		сертификаты качества и т.п.) в условиях их серийного производства.</p>

	<p style="text-align:justify;">
		<b>3.</b>
		<b>Требования к безопасности
			продукции:</b><v:shapetype>
	</p>
	<p style="text-align:justify;">3.1. Товар должен являться
		собственностью поставщика, не заложен, не арестован, не являться предметом
		третьих лиц.</p>

	<p style="text-align:justify;">3.2. Товар должен быть новым (не
		бывшем в употреблении, не восстановленным).</p>

	<p style="text-align:justify;">3.3. Товар должен быть упакован в
		тару, отвечающую требованиям ТУ и обеспечивающую его сохранность при перевозке
		и хранении. Год выпуска товара не ранее 2022 г.</p>

	<p style="text-align:justify;">3.4. Маркировка упаковки (первичной
		и вторичной) должна соответствовать требованиям (нанесение на упаковку всей
		необходимой информации на русском языке).</p>

	<p style="text-align:justify;">3.5. Остаточный срок годности на
		товар начинает действовать с момента передачи товара Заказчику и должен
		составлять не менее 24 месяцев.</p>

	<p style="text-align:justify;">3.6. При поставке товара должны быть
		предоставлены все документы, подтверждающие качество товара (регистрационное
		удостоверение, свидетельство государственной регистрации (при наличии),
		сертификат или декларация соответствия(при их наличии), так же в
		сопроводительных документах (товарной накладной, реестре и т. п.) должны быть
		указаны серия (партия) и срок годности товара.</p>

	<p style="text-align:justify;">3.7. Перед поставкой товара
		поставщик должен провести мониторинг безопасности изделия медицинского
		назначения (проверка товара, партии и т.д. по информационным письмам на сайте
		Росздравнадзора) в случае, если после поставки товара и дальнейшего мониторинга
		безопасности выявлены несоответствия, товар должен быть заменен на безопасный в
		течение трех дней.</p>


	<p style="text-align:right;">Приложение № 2</p>

	<p style="text-align:right;">к настоящему Договору</p>

	<p style="text-align:justify;"> Период поставки (дней): 1 - 10 с момента заключения
		Договора.</p>
</div>